@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
    url("./assets/font/Gilroy-Thin.ttf") format("truetype");
    font-weight: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    text-decoration: none;
    box-sizing: border-box;
}

.react-datepicker-popper {
    z-index: 2;
}
.swiper-button-next, .swiper-button-prev {
    color: #222222;
    background: #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0px 2px 17px rgba(74,74,74,0.2);
}
.swiper-button-next:after , .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 700;
}
::-webkit-scrollbar {
    display: none;
}
